/* ESTILOS GERAIS */
body {
    font-family: 'orbital';
    margin: 0;
    padding: 0;
    background-color: #560F20;
    background-image: url('../imgs/fundo2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ECD8E0;
    min-height: 100vh;
}

/* CABEÇALHO FIXO */
.header {
    width: 100%;
    height: 100%;
}


.header-top {
 width: 100%;
    min-height: 90px;
    background-color: #791127;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.logo {
    position: absolute;
    left: 120px;
    width: 300px;
    max-height: 50px;
    border-radius: 10px;
    top: 20px;
}


.logo2 {
    position: absolute;
    left: 10px;
    height: 80px;
    width: 110px;
    top:5px;

}


.texto-simulado {
    font-size: 1.5rem;
    margin-left: 180px;
    color: #ECD8E0;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 5px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.categories-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.category-item {
    position: relative;
}

.category-link {
    color: #ECD8E0;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 5px 5px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.category-link:hover {
    color: #ECB1C0;
}

.category-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #C75C71;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.category-item:hover::after {
    width: 100%;
}

#timer {
    position: fixed;
    font-weight: bold;
    font-size: x-large;
    color: rgb(6, 243, 6);
    transition: color 0.3s ease;
    z-index: 100;
}

.timer-box {
    width: 130px;
    height: 60px;
    position: fixed;
    top: 90px;
    right: 15px;
    font-weight: bold;
    font-size: x-large;
    color: #ECD8E0;
    background: #560F20;
    padding: 10px;
    border-radius: 8px;
    transition: color 0.3s ease;
    z-index: 90;
}

.start-btn {
    position: absolute;
    display: block;
    top: 375px;
    left: 390px;
    width: 200px;
    margin: 5px auto;
    padding: 12px;
    background-color: #4CAF50;
    color: #fffeff;
    border: none;
    border-radius: 5px;
    font-family: 'orbital', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 100;
}

.start-btn:hover {
    background-color: #4CAF50;
}

/* CONTEÚDO PRINCIPAL (ROLÁVEL) */
.scrollable-content {
    margin-top: 60px;
    padding: 30px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
     background-color: rgba(245, 240, 241, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

/* SEÇÕES DE POST */
.post-section {
    height: auto;
    width: auto;
    margin-bottom: 40px;
}

/* ESTILO PARA CADA QUESTÃO */
.post {
    height: auto;
    width: auto;
    position: relative;
    background-color: rgba(236, 216, 224, 0.9);
    padding: 5px;
    margin-bottom: 30px;
    border-radius: 8px;
    min-height: 200px;
}

/* CONTAINER DA IMAGEM */
.post-content {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* FORMULÁRIO FIXO */
.answer-section {
    position: absolute;
    left: 10px;
    bottom: 35px;
    width: 50px;
    background-color: rgba(250, 244, 245, 0.9);
    padding: 2px;
    border-radius: 10px;
    z-index: 100;
    color: #ECD8E0;
    line-height: 1.3;
    font-family: 'orbital', sans-serif;
}

/* MELHORIAS PARA AS OPÇÕES */
.alternative-answers {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.answer-option {
    display: flex;
    align-items: center;
}

.answer-option input[type="radio"] {
    margin-right: 8px;
    transform: scale(1.1);
}

.answer-option label {
    cursor: pointer;
    transition: color 0.2s;
    color: #560F20;
}

.answer-option label:hover {
    color: #C75C71;
}

/* BOTÃO DE ENVIO */
.submit-btn {
    position: absolute;
    bottom: 5px;
    left: 350px;
    display: block;
    width: 200px;
    padding: 12px 20px;
    background-color: #44c025;
    color: #faf8f8;
    border: none;
    border-radius: 5px;
    font-family: 'orbital', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}


.submit-btn:hover {
    color: #000000;
}

/* Estilo da imagem */
.quest-image {
    max-width: 100%;
    max-height: 80vh;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* CONTROLES FIXOS */
.fixed-controls {
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 900;
}

#nextQuestBtn,
#prevQuestBtn {
    width: 150px;
    padding: 10px 20px;
    background-color: #C75C71;
    color: #ECD8E0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'orbital';
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
}

#prevQuestBtn {
    background-color: #791127;
}

#nextQuestBtn:hover {
    background-color: #560F20;
}

#prevQuestBtn:hover {
    background-color: #560F20;
}

.site-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background-color: #791127;
    color: #ECD8E0;
    text-align: center;
}

/* ANIMAÇÕES*/
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-onload {
    opacity: 0;
    animation: fadeInUp 0.8s ease-out forwards;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .fixed-controls,
    .answer-form {
        display: none;
    }

    body {
        background-color: #560F20;
    }

    .header-top {
        min-height: 100px;
    }

    .logo {
        width: 250px;
        bottom: 10px;
        left: 110px;
    }

    .texto-simulado {
        margin-left: 0px;
        bottom: 10px;
        left: 5px;
        font-size: small;
    }

    .category-link {
        font-size: 0.7rem;
    }

    .categories-list {
        margin-right: 22px;
        gap: 1px;
        margin-left: 125px;
        margin-top: -90px;
    }

    .scrollable-content {
        margin-top: 100px;
        background-color: rgba(86, 15, 32, 0.7);
    }

    #timer {
        font-size: 1rem;
        top: 20px;
        left: 5px;
    }

    .timer-box {
        width: 80px;
        height: 40px;
        background: rgba(86, 15, 32, 0.7);
        left: 80%;
        top: 70px;
    }

    .start-btn {
        top: 170px;
        background-color: #C75C71;
        left: 50%;
    }

    .prova-list {
        padding: 15px;
        gap: 10px;
    }

    .prova-list a.category-link {
        padding: 10px 15px;
        font-size: 0.9rem;
        min-width: 80px;
    }

    .footer {
        height: auto;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 200px;
    }

    .texto-simulado {
        font-size: 1rem;
    }
}